<div class="container">
  <header>
    <h1>CS 437 Final Project - IOT Car Tracker</h1>
    <p>Designed by Jackson Wilson (JW35)</p>
    <hr>
  </header>
  <main>
    <!-- Current Car Status -->
    <section>
      <h4>Current Car Status: <span [ngClass]="connectionStatus === 'Connected' ? 'text-success' : 'text-danger'">{{connectionStatus}}</span></h4>
      <div *ngIf="connectionStatus==='Connected'">
        <app-car-status></app-car-status>
      </div>
    </section>
    <hr>
    <!-- Current Car Trip -->
    <section>
      <h4>Trips</h4>
      <app-trip></app-trip>
    </section>
  </main>
</div>
<router-outlet></router-outlet>